@model BTLNHOM10.Models.DiadiemTour

@{
    ViewData["Title"] = "themdiadiemtours";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>themdiadiemtours</h1>

<h4>DiadiemTour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="themdiadiemtours">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaDd" class="control-label"></label>
                <select asp-for="MaDd" class ="form-control" asp-items="ViewBag.MaDd"></select>
            </div>
            <div class="form-group">
                <label asp-for="MaTour" class="control-label"></label>
                <select asp-for="MaTour" class ="form-control" asp-items="ViewBag.MaTour"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenFileAnh" class="control-label"></label>
                <input asp-for="TenFileAnh" class="form-control" />
                <span asp-validation-for="TenFileAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViTri" class="control-label"></label>
                <input asp-for="ViTri" class="form-control" />
                <span asp-validation-for="ViTri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
