
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gallery - Bali Travel Time</title>
	<link rel="icon" type="../img/png" href="../img/icon/bavel.png">

	<!-- Meta Description -->
	<meta name="description" content="Bali Travel Time">
	<meta name="keywords" content="Travel, Bali, Tourism">
	<meta name="robots" content="index, nofollow">
	<meta name="web_author" content="Yogi Prasertawan">
	<meta name="language" content="Indonesian">

	<!-- Import Icon -->
	<link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">

	<!-- Import Style -->
	<link rel="stylesheet" type="text/css" href="../css/css1.css">
	<link rel="stylesheet" type="text/css" href="../css/swipe.min.css">
	<link rel="stylesheet" type="text/css" href="../css/swipebox.min.css">

</head>
<body>
	@await Html.PartialAsync("_PartialHeader")
	<section class="section-header-single">
		<img src="../img/bg-gallery.jpg">
		<div class="overlay">
			<div class="header-title">
				<h3>Capture The Moment</h3>
				<span class="ion-record"></span>&nbsp;
				<span class="ion-record"></span>&nbsp;
				<span class="ion-record"></span>
			</div>
			</div>
	</section>

	<ul class="breadcrumb">
		<li><a asp-controller="Home" asp-action="Index">Home</a></li>
		<li>Gallery</li>
	</ul>

	<!-- Photo Grid -->

	
			
				@RenderBody()
		
		
	@await Html.PartialAsync("_PartialFooter")
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/swipe.js"></script>
	<script type="text/javascript" src="../js/ios-orientationchange-fix.js"></script>
	<script type="text/javascript" src="../js/jquery.swipebox.min.js"></script>
	<script type="text/javascript">
		$('.swipebox').swipebox();
	</script>
</body>
</html>