
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>VietNamTravelTime</title>
	<link rel="icon" type="image/png" href="../img/icon/bavel.png">

	<!-- Meta Description -->
	<meta name="description" content="Bali Travel Time">
	<meta name="keywords" content="Travel, Bali, Tourism">
	<meta name="robots" content="index, nofollow">
	<meta name="web_author" content="Yogi Prasertawan">
	<meta name="language" content="Indonesian">

	<!-- Import Icon -->
	<link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">

	<!-- Import Style -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>

	@await Html.PartialAsync("_PartialHeader")
	<!-- Section Discover -->
        @RenderBody()
	<div class="login-overlay"></div>
	<!-- Section Footer -->
	@await Html.PartialAsync("_PartialFooter")
	

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/swipe.js"></script>
</body>
</html>