
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Elephant Safari Park - Bali Travel Time</title>
	<link rel="icon" type="image/png" href="img/icon/bavel.png">

	<!-- Meta Description -->
	<meta name="description" content="Bali Travel Time">
	<meta name="keywords" content="Travel, Bali, Tourism">
	<meta name="robots" content="index, nofollow">
	<meta name="web_author" content="Yogi Prasertawan">
	<meta name="language" content="Indonesian">

	<!-- Import Icon -->
	<link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">

	<!-- Import Style -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/swipe.min.css">

</head>
<body style="background: #e6eaed;">

	@await Html.PartialAsync("_PartialHeader")

	<!-- Section -->

	@RenderBody()
	@await Html.PartialAsync("_PartialFooter")

	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
	<script type="text/javascript" src="../js/swipe.js"></script>
</body>
</html>